* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #28B9B5;
    --color2: #FF5049;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.budget-top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../img/background.png);
    background-size: cover;
    background-position: center;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
}

.budget__title {
    font-size: 20px;
    text-align: center;
}

.final-budget {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.budget__value {
    font-size: 45px;
    text-align: center;
    margin: 20px 0;
}

.budget__income,
.budget__expenses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    width: 400px;
    margin: 0 auto;
    padding: 15px;
}

.budget__income {
    background-color: var(--color1);
}

.budget__expenses {
    margin-top: 15px;
    background-color: var(--color2);
}

.add {
    padding: 15px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.add__type,
.add__description,
.add__value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}

.add__type {
    font-size: 18px;
    padding: 10px 15px;
}

.add__description {
    width: 400px;
}

.add__value {
    width: 100px;
}

.add__btn {
    font-size: 35px;
    background: none;
    border: none;
    color: var(--color1);
    cursor: pointer;
}

.add__btn:active {
    transform: translateY(3px);
}

.add__type:focus,
.add__description:focus,
.add__value:focus {
    outline: none;
    border: 1px solid #ccc;
}

.add__btn:focus {
    outline: none;
}

.container {
    width: 1000px;
    margin: 60px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.income {
    width: 45%;
    padding: 5px;
}

.expenses {
    width: 45%;
    padding: 5px;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 15px;
}

.income__title {
    color: var(--color1);
}

.expenses__title {
    color: var(--color2);
}

ul {
    list-style: none;
}

ul li {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #555;
    transition: all 0.8s ease;
}

li>div {
    display: flex;
    align-items: center;
    height: 10px;
}

.icon {
    display: none;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    position: relative;
}

.icon::before,
.icon::after {
    position: absolute;
    top: 50%;
    margin-top: -0.5px;
    left: 50%;
    margin-left: -6.5px;
    content: '';
    display: block;
    width: 13px;
    height: 1px;
    background-color: #000;
    transform: rotate(45deg);
}

.icon::after {
    transform: rotate(-45deg);
}

li:hover .icon {
    display: block;
    margin-left: 10px;
}